<button (click)="toggle()" class="exam-btn" mat-icon-button>
  <mat-icon>access_time</mat-icon>
</button>
<div #content [@popState]="popState" class="content">
  <div fxLayout="column" class="mat-elevation-z4">
    <div (click)="toggle()" matRipple class="title" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon *ngIf="!running" class="close-btn">arrow_back</mat-icon>
        <span fxFlex>Test</span>
    </div>
    <ng-container *ngIf="!running">
      <span fxFlex></span>
      <div class="top-score">
          <span>Your Highscore</span>
          <b>{{highscore}}</b><br>
          <span matRipple class="status">~ {{status}} ~</span>
      </div>
      <span fxFlex></span>
    </ng-container>
    <ng-container *ngIf="running">
      <div class="question-text" *ngIf="running">
        <h2>{{question.topic.title}}</h2>
        <markdown [data]="question.text"></markdown>
      </div>
      <div class="letters">
        <ng-container *ngFor="let letter of letters; let i = index">
          <div *ngIf="i === 4 || i === 8"></div>
          <span (click)="letterClick(letter)" class="mat-elevation-z2" matRipple>{{letter}}</span>
        </ng-container>
      </div>
      <div class="time">{{timer | async}}s left</div>
      <div class="points mat-elevation-z4">{{points}}</div>
    </ng-container>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button class="btn" *ngIf="!running" (click)="start()" mat-raised-button>Start Test</button><br>
    </div>
  </div>
</div>
