<div #content [@popState]="popState" class="content">
    <div (click)="toggle()" matRipple class="title" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon class="close-btn">arrow_back</mat-icon>
        <span fxFlex>{{topic.title}}</span>
        <span class="completeness mat-elevation-z4"
            *ngIf="!topic.path">{{topic.complete || 0}}%</span>
    </div>
    <div class="content-stretch" *ngIf="popState">
        <markdown [data]="topic.body || 'Inhalt folgt.'" class="body"></markdown>
        <div *ngIf="topics">
            <app-topic-block
                [topic]="topic"
                *ngFor="let topic of topics"></app-topic-block>
        </div>
    </div>
</div>
