<div #content [@popState]="popState" class="content">
    <div (click)="toggle()" matRipple class="title" fxLayout="row" fxLayoutAlign="center center">
        <span fxFlex>{{topic.title}}</span>
        <span class="completeness"
            *ngIf="!topic.path">{{topic.complete || 0}}%</span>
        <mat-icon class="toggle-btn">arrow_upward</mat-icon>
        <div class="path" *ngIf="topic.path">› {{topic.path}}</div>
    </div>
    <div class="content-stretch" *ngIf="popState">
        <markdown *ngIf="topic.body" [data]="topic.body" class="body"></markdown>
        <div *ngIf="topics">
            <app-topic-block
                [topic]="topic"
                *ngFor="let topic of topics"></app-topic-block>
        </div>
    </div>
</div>
